@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Enter a Location:</h1>
    <form asp-controller="Forecast" asp-action="Index" method="get">
        <input type="text" name="searchString" />
        <input type="submit" value="Get" />
    </form>
</div>